/* header */
.text-menu {
    display: none;
}

header {
    background-color: #535da1;
    height: 200px;
}

.container {
    padding: 1rem;
    margin-right: auto;
    margin-left: auto;
}

.nav-contain {
    border-radius: 10px;
    margin-right: 12px;
    margin-left: 12px;
    padding: 10px 25px;
    background-color: white;
    background-color: white;
    position: relative;
}

.all-header p {
    margin-left: 1rem;
    margin-top: 15px;
    font-size: 32px;
    font-weight: 700;
}

.all-header i {
    margin-top: 15px;
}

.all-header {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-evenly;
}

.text-menu {
    display: none;
}

.custom-btn {
    font-size: 13px;
    color: #14B789;
    border-radius: 0.62rem;
    cursor: pointer;
    border-color: #14B789;
    font-weight: 700;
    text-decoration: none;
}

.nav-bar {
    padding: 6px 4px;
    border-width: 2px;
    border-style: solid;
}

.nav-bar-i {
    background: #14B789;
    color: white;
    width: 35px;
    height: 29px;
    border-radius: 110px;
    padding-top: 7px;
}

.tel-icon {

    text-align: center;
}

#burger-menu {
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    z-index: 2;
    position: absolute;
    top: 2rem;
    left: 88%;
}

#burger-menu span,
#burger-menu span:before,
#burger-menu span:after {
    background: #fff;
    display: block;
    height: 0.25rem;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
    background: black;
}

#burger-menu span:before,
#burger-menu span:after {
    content: "";
}

#burger-menu span {
    right: 1rem;
    top: 1rem;
    width: 1rem;
}

#burger-menu span:before {
    left: 0px;
    top: -0.6rem;
    width: 1rem;
}

#burger-menu span:after {
    left: 0px;
    top: 0.6rem;
    width: 1rem;
}

#burger-menu.close span {
    transform: rotate(-45deg);
    top: 0.8rem;
    width: 1rem;
}

#burger-menu.close span:before {
    top: 0px;
    transform: rotate(90deg);
    width: 1rem;
}

#burger-menu.close span:after {
    top: 0px;
    left: 0;
    transform: rotate(90deg);
    opacity: 0;
    width: 0;
}

.text-menu2 {
    display: none;
}

#menu-header2 {

    display: none;

}

/* HELLO_Friend */

#hello_Friend {
    background-color: #535da1;
    height: auto;
}

.avatar-image {
    width: 90.4px;
    height: 90.4px;
    border-radius: 100px;
    object-fit: cover;
}

.title-texte h1 {
    font-size: 44px;
    margin-left: 1rem !important;
    font-weight: 700;
}

.title-texte {
    display: flex;
    align-items: center;
}

.hero-texte h2 {
    font-size: 33px;
    color: #14B789;
    font-weight: 700;

}

.circle-title {
    background: white;
    border-radius: 100px;
    padding: 8px 24px;
}

.circle-title2 {
    background: white;
    border-radius: 100px;
    padding: 8px 24px;
    margin-top: 1.5rem;
}

.hero-texte p {
    font-size: 16px;
    padding: 6px 12px;
    margin-top: 1.5rem;
    color: white;
}

.hero-image {
    background: white;
    border-radius: 100%;
    /* position: absolute; */
    z-index: 22;
    top: -50px;
    right: 0;
    left: 0;
    margin: auto;
    pointer-events: none;
}

.img-fluid {
    width: 300px;
    height: 300px;
}

.hero-imagee {
    display: flex;
    background: #14B789;
    padding: 10px;

}


/* INFORMATION */

.about-image{
    border-radius:  20px; 
}

.img-fluid-couple{
    max-width: 100%;
    height: auto;
}
.img-couple{
    margin-bottom: 1.5rem;
}

.section-wrap{
    background: #14B789;
    border-radius: 10px;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem
}

.section-wrap h2{
    font-size: 28px;
    color: white;
    margin-right: 1.5rem;
    letter-spacing: -3px;
}
.avatar-image2{
    border-radius:100px;
    width: 160px;
    height: 160px;
    object-fit: cover;
}

.about-thumb h3{
    font-size: 26px;
    font-weight:700 ;
    letter-spacing: -1px;
    color: black;
    margin-bottom: 1rem;
}

.about-thumb p{
    color: #717275;
    font-size: 18px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 1rem;
}



/* LOGO */

.profile-body{
    box-sizing: border-box;
}

.profile-thumb{
    border: 1px solid #e9eaeb;
    border-radius:20px;
    position: relative;
    overflow: hidden;
}

.profile-title{
    border-bottom: 1px solid #e9eaeb;
    padding: 15px 30px;
}

.profile-title h4{
    font-size: 22px;
    font-weight:700;
    letter-spacing: -1px;
    color: black;
}

.profile-small-title{
    border-right: 1px solid #e9eaeb;
    color: #14B789;
    font-weight:700;
    min-width: 140px;
    margin-right: 10px;
    padding: 13px 30px;
    display: inline-block;
    box-sizing:  border-box;
}
.profile-small-title p{
    color: #717275;
    font-size: 18px;
    font-weight: 400;
}

.featured-botder-bottom{
    border-bottom: 1px solid #e9eaeb;
    margin-top: 3rem!important;


}

.py-2{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.featured-numbers{
    font-size: 62px;
    line-height: normal;
    display: block;
    font-weight: 700;
}

.featured-text{
    color: #14B789;
    font-size: 18px;
    font-weight: 400;
}

.featured-border-start{
    border-left: 1px  solid#e9eaeb;
    width: 50%;
}

.featured-border-bottom{
   

    border-bottom: 1px solid#e9eaeb;
    
}

.ps-5{
    padding-left: 3rem;
}

.py-2{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 50%;
}

.pt-4{
    padding-top: 1.5rem!important;
    width: 50%;
}

.futur-1{
    display: flex;
    justify-content: center;
}


.futur-2{
    display: flex;
    justify-content: center;
}

.global-futur{
    margin-top: 3rem;
}

#logo{
    background: #f9f9f9;
}

.bg-w{
    background: white;
}

.global-logo{
    padding-bottom: 2rem;
}


@media (max-width:320px) and  (max-width:768px){
    .all-header {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }

    #menu-header {
        display: none;
    }

    #burger-menu {
        display: block;
        cursor: pointer;
        height: 1rem;
        width: 1rem;
        z-index: 2;
        position: absolute;
        top: 40px;
        left: 3rem;
    }

    .text-menu ul {
        display: flex;
    }

    .text-menu ul li {
        padding: 10px;
    }

    .text-menu {
        margin-top: 13px;
    }

    #menu-header.overlay {
        display: block;
        color: black;
        font-size: 12px;
        text-decoration: none;
    }

    .text-menu {
        display: block;
    }

  
    
}

@media (min-width:375px) and (max-width:1023px) {
    #menu-header {
        display: none;
    }

    #burger-menu {
        display: block;
        cursor: pointer;
        height: 1rem;
        width: 1rem;
        z-index: 2;
        position: absolute;
        top: 40px;
        left: 3rem;
    }

    .text-menu ul {
        display: flex;
    }

    .text-menu ul li {
        padding: 10px;
    }

    .text-menu {
        margin-top: 13px;
    }

    #menu-header.overlay {
        display: block;
        color: black;
        font-size: 12px;
        text-decoration: none;
    }

    .text-menu {
        display: block;
    }

    .hero-texte h1 {
        text-align: center;
    }

    
}


@media (min-width:1024px) {
    #burger-menu {
        display: none;
    }

    .text-menu {
        display: block;
    }

    #menu-header {
        display: flex;
        justify-content: space-around;
    }

    #menu-header li {
        padding-right: 1rem;
    }

    .fa-solid {
        margin-right: 10px;
    }

    .text-menu {
        margin-top: 15px;

    }

    .text-menu2 {
        display: block;
    }

    #menu-header2 {
        display: block;
        display: flex;
        justify-content: space-around;
    }

    #menu-header2 li {
        padding-right: 1rem;
    }

    .text-menu {
        display: none;
    }

}






@media (min-width:768px)and (max-width:1023px) {
    #burger-menu {
        left: 5rem;
    }

    .hero-texte h2 {
        display: inline-block;
    }

    .hero-image {
        background: white;
        border-radius: 100%;
        position: absolute;
        z-index: 22;
        top: 7rem;
        right: 0;
        left: 29rem;
        margin: auto;
        pointer-events: none;
        
    }

    .img-fluid {
        width: 274px;
        height: 260px;
    }

    .hero-imagee{
        background: none;
    }

    .section-wrap{
        justify-content: flex-end;
    }

    .global-logo{
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
        
    }

    .profile-thumb{
        width: 40%;
    }

    .global-futur{
        width: 40%;
    }
}





@media (min-width:1024px) {
    .hero-image {
        background: white;
        border-radius: 100%;
        position: absolute;
        z-index: 22;
        top: 7rem;
        right: 0;
        left: 29rem;
        margin: auto;
        pointer-events: none;
        
    }

    .img-fluid {
        width: 350px;
        height: 350px;
    }

    .hero-imagee{
        background: none;
    }

    .hero-texte h2{
        display: inline-block;
    }
    .hero-texte{
        margin-left: 13%;
    }

    .flex-info{
        display: flex;
    justify-content: space-evenly;
    }

    .img-couple{
        width: 47%;
    }

    .about-thumb{
        width: 40%;
    }

    .section-wrap{
    background: #14B789;
    border-radius: 10px;
    padding: 10px 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1.5rem;
    }

    .section-wrap h2{
        font-size: 48px;
    }

    .about-thumb h3{
        font-size:  38px;
    }

    .global-logo{
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
        
    }

    .profile-thumb{
        width: 40%;
    }

    .global-futur{
        width: 40%;
    }
}